.stacked-timelines-chart {

    /* Cancel selection interaction */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .axises {
        line, path {
            stroke: #808080;
        }

        .x-grid line {
            stroke: #D3D3D3;
        }

        .y-axis, .grp-axis {
            line, path {
                stroke: none;
            }
            text {
                fill: #2F4F4F;
            }
        }
    }

    .series-group {
        fill-opacity: 0.6;
        stroke: #808080;
        stroke-opacity: 0.2;
    }

    .series-segment {
        stroke: none;
    }

    .series-group, .series-segment {
        cursor: crosshair;
    }

    .legend .legendText {
        fill: #666;
    }
}

.brusher {
    .grid-background {
        fill: #C0C0C0;
    }

    .axis path {
        display: none;
    }

    .grid {
        line, path {
            stroke: #fff;
        }

        .minor.tick line {
            stroke-opacity: .5;
        }
    }

    .brush .selection {
        stroke: blue;
        stroke-opacity: 0.6;
        fill: blue;
        fill-opacity: 0.3;
        shape-rendering: crispEdges;
    }
}