.stacked-timelines-chart {

    /* Cancel selection interaction */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .axises {
        shape-rendering: crispedges;

        line, path {
            fill: none;
            stroke: #808080;
        }
    }

    .y-axis, .grp-axis {
        line, path {
            stroke: none;
        }
        text {
            fill: #2F4F4F;
        }
    }

    .x-grid line {
        stroke: #D3D3D3;
    }

    rect.series-group {
        fill-opacity: 0.6;
        stroke: #808080;
        stroke-opacity: 0.2;
        cursor: crosshair;
    }

    rect.series-segment {
        stroke: none;
        cursor: crosshair;
    }
}

.legend .legendText {
    fill: #666;
}

.brusher {
    .axis {
        text {
            font: 11px sans-serif;
        }

        path {
            display: none;
        }

        line {
            fill: none;
            stroke: #000;
            shape-rendering: crispEdges;
        }
    }

    .grid-background {
        fill: #C0C0C0;
    }

    .grid {
        line, path {
            fill: none;
            stroke: #fff;
        }

        .minor.tick line {
            stroke-opacity: .5;
        }
    }

    .brush .selection {
        stroke: blue;
        stroke-opacity: 0.6;
        fill: blue;
        fill-opacity: 0.3;
        shape-rendering: crispEdges;
    }
}